*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}

.nav__logo{
    transition: color .3s;
}

.nav__logo .fa-cookie-bite{
    padding: 0 10px;
}

.nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    padding: 0 5px;
    color: black;
}

.nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 28px 12%;
}

.nav__links{
    display: flex;
}


.nav__item{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: color 0.3s;
}


.nav__item:hover,.nav__logo:hover, .nav__logo span, .nav__logo .fa-cookie-bite {
    color: orange;
}

.nav__links .active{
    color: orange;
}


/* HERO IMG ====================== */

.hero-img{
    position: relative;
    background-image: url('/grzymala-lukasz/img/pexels-igor-ovsyannykov-205961 (1).jpg.');
    height: 700px;
    background-size: cover;
    width: 100%;
    background-position: bottom 40% left 20%;
    z-index: 0;
    background-attachment: fixed;
}

.hero-img__shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -25;
}

.hero-img__text{
    position: absolute;
    color: #ffff;
    display: flex;
    justify-content: start;
    top: 41%;
    font-size: 2.8rem;
}

.hero-img__text{
    top: 46%;
    font-size: 4.5rem;
    font-weight: bold;
}

/* ABOUTUS */

.site_title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: orange;
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 0px -1px 6px rgba(66, 68, 90, 1);
}

.aboutus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutus__img{
    background-image: url('/img/blueberries-1867398_640.jpg');
    width: 400px;
    min-width: 400px;
    height: 400px;
    position: relative;
    background-position: center;
    border-radius: 15%;
    padding: 3rem;
    background-size: cover;
}


.aboutus__text{
    text-align: center;
    margin-left: 4rem;
    padding: 3rem;
}

.aboutus__title{
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}

.aboutus__description{
    font-size: 1.6rem;
}

/* SECTION IMAGES */

.images{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.images__box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.images__img-img{
    position: relative;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    filter: brightness(70%);
    object-fit: cover;



    --c: orange; /* the border color */
    --b: 10px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */
    
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .3s, background-position .3s .3s;

}

.image1{
    object-position: bottom;
}


.images__img-img:hover {
    --_i: 100%;
    transition:  .3s, background-size .3s .3s;
    filter: brightness(90%);
  }


  /* SECTION MENU */

  .menu-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.3) ;
  }

  .menu__card{
    position: relative;
    flex-grow: .8;
    height: 600px;
    margin: 4px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: flex-grow .8s;
    overflow: hidden;
    cursor: pointer;
  }

  .menu__card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity .5s;
  }

.monday{
    background-image: url('./img/1.jpg');
}
.tuesday{
    background-image: url('./img/2.jpg');
}
.wednesday{
    background-image: url('./img/3.jpg');
}
.thursday{
    background-image: url('./img/4.jpg');
}
.friday{
    background-image: url('./img/5.jpg');
}
.saturday{
    background-image: url('./img/6.jpg');
}
.sunday{
    background-image: url('./img/7.jpg');
}


.monday::before,
.tuesday::before,
.wednesday::before,
.thursday::before,
.friday::before,
.saturday::before,
.sunday::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.25);
}

.menu__text {
    position: absolute;
    left: 50%;
    z-index: 5;
    bottom: 10%;
    transform: translateX(-50%);
    width: 80%;
    padding: 2em;
    color: #fff;
    border-radius: 6px;
}

.menu__text h2{
    text-transform: uppercase;
    transform: rotate(-90deg);
}

.menu__text p{
    display: none;
    opacity: 0;
}

.menu__cakeday {
    font-weight: bold;
    font-size: 3rem;
}

.menu__active{
    flex-grow: 8;
}

.menu__active .menu__text{
    animation: menu-show-bg 1s .6s forwards;
}

.menu__active .menu__text h2{
    display: none;
}

.menu__active .menu__text p{
    display: block;
    animation: menu-show-text 1s .2s forwards;
}

.menu__card.menu__active::after{
    opacity: 0;
}


@keyframes menu-show-bg{
    to {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

@keyframes menu-show-text{
    to {
        opacity: 1;
    }
}


/* SECTION REVIEWS */


.reviews__box {
    position: relative;
    margin: 2em;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.1803921569);
    transition: transform 0.3s;
  }
  .reviews__box:hover {
    transform: scale(0.95);
  }
  .reviews__box-img {
    position: absolute;
    top: 8%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  .reviews__box-img img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .reviews__box-quote {
    margin-bottom: 1em;
    font-size: 3rem;
    color: orange;
  }
  .reviews__box-text {
    margin-bottom: 1em;
    font-size: 1.4rem;
    color: #2e2e2e;
  }

  .contact-container{
    display: flex;
    justify-content: space-between;
  }

  .contact-text, .contact-text2 {
    line-height: 25px;
    text-align: center;
  }

  .open-hours{
    text-transform: uppercase;
    font-weight: bold;
    color: orange;
    margin-bottom: 1.5rem;
  }

  .contact-container span{
    color: orange;
    font-weight: bold;
  }

  .footer{
    margin-top: 10rem;
    background-color: #2e2e2e;
  }

.findus {
    margin-top: 2rem;
    font-size: 2.4rem;
}

.footer-text1{
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    color: #fff;
}

.footer-text1 i{
    padding: 1.5rem;
    font-size: 4rem;
    cursor: pointer;
    transition: color .4s;
}

.footer-text1 i:hover{
    color: orange;
}

.footer-text2{
    margin-top: 3rem;
    font-size: 2rem;
    color: #eee;
    text-transform: uppercase;
    text-align: center;
}

.footer-text2 span{
    color: orange;
}

/* section{
    height: 100vh; 
    background-color: aqua; 
} */